table {
  border: solid $primary-color 1px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;

  th {
    background-color: $secondary-color;
    text-align: left;
    font-weight: inherit;
  }

  tr:first-child {
    height: 50px;
  }
}
