.edit-container {
  border: solid $secondary-color 2px;
  width: 1400px;
  height: 750px;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: row;

  &-left,
  &-right {
    padding: 8px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      color: $header-color;
      border-bottom: solid $header-color 1px;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        width: 30%;
        color: $header-color;
      }

      p {
        width: 30%;
        margin-left: 15px;
        color: $header-color;
      }
    }
  }
}
